{% extends "main.html" %}
{%block content%}
{% load static%}
<body>
    <a id="TP"></a>
    <a href="#BT"><i class="fa fa-arrow-down fa-2x" style="color:black"></i></a>
    <div class="nav">
      <img src="{% static 'image/BMW logo.jpg' %}" width="5%" id="log">
        <ul>
          <li><a href=""> Home <i class="fa fa-home fa-2x"></i></a></li>
          <li><a href=""> Overview <i class="fa fa-list-alt fa-2x"></i></a></li>
          <li><a href=""> Documentation <i class="fa fa-book fa-2x"></i> </a></li>
          <li><a href=""> News <i class="fa fa-newspaper-o fa-2x"></i></a></li>
          <li><a href="">Community <i class="fa fa-users fa-2x"></i></a></li>
        </ul>
     </div>

     <h1>BMW by M.O.B</h1>
     <img src="{% static 'image/BMW sedan.jpg'%}">
     <p><span id="every">BMW by M.O.B</span> is an online shop with her 
        specialty on BMW SUVs, trucks, sedans, lorries, and cars. <br> <br>
        Bayerische Motoren Werke AG, commonly abbreviated to BMW is a German multinational manufacturer of luxury vehicles and motorcycles headquartered in Munich, Bavaria, Germany.
         <br>The company was founded in 1916 as a manufacturer of aircraft engines, which it produced from 1917 to 1918 and again from 1933 to 1945.</p>
        <hr>
        <marquee direction="left"><img src="{% static 'image/car-moving.gif'%}" id="move"></marquee>
        <hr>
         <h2>Different type of BMW models</h2>
         <ol>
            <li>Sedan</li>
            <li>Hatchback</li>
            <li>SUV</li>
         </ol>    
         <p>BMW has different vehicles ragging from the hatchback to the sedan to the SUV, and every of these vehicles function differently.   </p>
 
         <h2>BMW Sedan:</h2>
         <img src="{% static 'image/BMW sedan.jpg' %}">
         <p>A BMW sedan will always have seating for five, while a four-seat arrangement is generally what drivers will find when they get behind the wheel of a BMW coupe.</p>
         <img src="{% static 'image/BMW sedan2.jpg'%}">
         <h2>BMW Hatchback:</h2>
         <img src="{% static 'image/hatchback1.jpg' %}">
         <p>BMW builds hatchbacks across a variety of its model families, including the 3 Series, 4 Series, and 6 Series. If you do not know which one will suit your needs, test drive them all!</p>
         <img src="{% static 'image/Hatchback2.jpg'%}">
         <h2>BMW SUV:</h2>
         <img src="{% static 'image/BmwSUV1.jpg' %}">
         <p>Versatile vehicles at home on the open road and unexplored terrain. BMW's SUVs combine space, technology, and style in an exceptional sport utility vehicle.</p>
         <img src="{% static 'image/BmwSUV2.jpg'%}">
         <hr>
         <footer>
          <div class="footer">
              <h3>QUICK LINK</h3><hr>
              <p>Home</p>
              <p>BMW in your country</p>
              <p>BMW Group Careers</p>
             <p>EU Detergents Regulation </p>
              <p>REACH Regulation </p>
              <p>Compatibility Check </p>
              <p>Software Update</p>
              <p>Accessories Update</p>
              <p>Connected Test Vehicle</p>
              <p>Service Page Charging Products</p>
              
          </div>
          <div class="footer">
            <h3>More BMW Websites</h3><hr>
            

           <p>BMW M</p>
              <p>BMW M Motorsport</p>
              <p>BMW Golfsport</p>
              <p>BMW M Driving Experience</p>
              <p>BMW Welt</p>
              <p>BMW Group Classic</p>
              <p>BMW Corporate/Direct Sales</p>
              <p>BMW Group</p>
              <p>BMW Group Culture</p>
             <p>BMW ConnectedDrive Upgrades</p>
          </div>
          <div class="footer">
            <h3>BMW.com</h3><hr>
            

          <p>About BMW.com</p>
         <p>Contact</p>
         <p>Cookies</p>
          <p>Imprint</p>
          <p>Legal Notice / Data protection</p>
          </div>
          <div class="footer">
            <h3>Visit us on</h3><hr>
            
            <p>Visit us on</p>
           <p> Facebook</p>
            <p>X</p>
            <p>Instagram</p>
            <p>YouTube</p>
          </div> 
         </footer>
         <a id="BT"></a>
         <a href="#TP"><i class="fa fa-arrow-up fa-2x" style="color:black"></i></a>
{%endblock content%}